WHATSAPP_APP_SECRET=app_secret_compartido_con_ws_backend
ENCRYPTION_SECRET_KEY=clave_de_cifrado_compartida_con_ws_backend
WEBHOOK_ADD_MESSAGE_ENDPOINT=https://ws-backend/api/messages/add
REDIS_URL=redis://localhost:6379/0
